header {
    display: flex;
    background-color: #f5f5f5;
}

h1 {
    margin: auto;
    text-align: center;
}

.randomDog {
    display: grid;
    grid-template-columns: 500px 400px 50px ;
    grid-template-rows: 330px 35px;
    margin-left: 237px;
    
}
.randomDog h3 {
    text-align: center;
    text-justify: center;
    line-height: 330px;
}

.randomDog img {
    grid-column: 2 / 3;
    width: 450px;
    height: 330px;
}

.randomDog button {
    grid-column: 3 / 4;
    grid-row: 2 /3;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
}